<button class="btn btn-secondary" (click)="add()">Add New Product</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">code</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i=index" (click)="showProduct(product.id)" >
            <th scope="row">{{i+1}}</th>
            <td >{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>

<div name="frmProduct" *ngIf="showForm">
    <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text"
               class="form-control"
               id="txtName"
               name="txtName"
               #txtName
               placeholder="Product Name" value="{{selectedProduct?.name}}">
    </div>
    <div class="form-group">
        <label for="txtPrice">Price</label>
        <input type="text"
               class="form-control"
               id="txtPrice"
               Name="txtPrice"
               #txtPrice
               placeholder="Product Price" value="{{selectedProduct?.price}}">
    </div>
    <button  class="btn btn-primary mt-2 me-1" (click)="saveForm(txtName.value,txtPrice.value)">Save</button>
    <button class="btn btn-secondary mt-2" (click)="cancelEditForm()">Cancel</button>
</div>
